<!DOCTYPE html>
<link href="~/Content/Styles/Site.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>Contacts Manager
                </h1>
            </div>
            <div class="loginDisplay">
                @if (Request.IsAuthenticated)
                {
                    <text>[ @Html.ActionLink("Log Off", "LogOff", "Account", new { Area = "" }, new { }) ]</text>
                }
                else
                {
                    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
                }
            </div>
        </div>
        <div>
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
