@model ContactsManagerInMVCLinqEF.Country

@{
    ViewBag.Title = "Add Country";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Add Country</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Country</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CountryName)
                </td>
                <td>
                    @Html.EditorFor(model => model.CountryName)
                    @Html.ValidationMessageFor(model => model.CountryName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ZipCodeStart)
                </td>
                <td>
                    @Html.EditorFor(model => model.ZipCodeStart)
                    @Html.ValidationMessageFor(model => model.ZipCodeStart)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ZipCodeEnd)</td>
                <td>
                    @Html.EditorFor(model => model.ZipCodeEnd)
                    @Html.ValidationMessageFor(model => model.ZipCodeEnd)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsActive)
                </td>
                <td>
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Create" /></td>
                <td>@Html.ActionLink("Back to List", "Index")</td>
            </tr>
        </table>
    </fieldset>
}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
