@model ContactsManagerInMVCLinqEF.Country

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete Country</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Country</legend>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CountryName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CountryName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ZipCodeStart)
            </td>
            <td>
                @Html.DisplayFor(model => model.ZipCodeStart)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ZipCodeEnd)</td>
            <td>
                @Html.DisplayFor(model => model.ZipCodeEnd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IsActive)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
