@model ContactsManagerInMVCLinqEF.UserDetail

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete UserDetails</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UserDetail</legend>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmailId)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IsActive)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |  @Html.ActionLink("Back to List", "Index")
    </p>

}
